  @import url('https://fonts.googleapis.com/css2?family=Michroma&family=Orbitron&family=Protest+Revolution&family=Protest+Riot&family=Rubik+80s+Fade&family=Sixtyfour&family=Texturina:opsz@12..72&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 97vh;
    background-color: #f4f4f4;
    font-family: 'Michroma', sans-serif;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/016/788/original/technology-digital-or-information-data-concept-free-video.jpg);
    background-position: center;
    background-size: cover;
    color: aliceblue;
    text-align: center;
  }

  h1{
    font-size: 30px;
  }
  .calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    border-radius: 1rem;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  
  input#display {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    letter-spacing: 0.5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 17px;
  }
  
  button.equals {
    grid-column: span 4;
    background-color: rgb(158, 211, 229);
  }
  
  button:hover {
    background-color: #ddd;
  }
  